<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yujin.foodtruck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".search"></activity>
        <activity android:name=".jiyeok" />
        <activity android:name=".foodstar" />
        <activity android:name=".review2" />
        <activity android:name=".reveiw" />
        <activity android:name=".yeyock2" />
        <activity android:name=".yeyock" />
        <activity android:name=".saewooList" />
        <activity android:name=".pizzaList" />
        <activity android:name=".luluList" />
        <activity android:name=".SteakList" />
        <activity android:name=".pizza" />
        <activity android:name=".saewoo" />
        <activity android:name=".lulu" />
        <activity android:name=".SteakHouse" />
        <activity android:name=".Listview2" />
        <activity android:name=".Listview" />
        <activity android:name=".SobijaPlace" />
        <activity android:name=".SobijaMain" />
        <activity android:name=".MenuAdd" />
        <activity android:name=".Map" />
        <activity android:name=".SajangLogin" />
        <activity android:name=".SajangMain" />
        <activity android:name=".newAccount2" />
        <activity android:name=".newAccount" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>